.inputbox {
      padding: 40px;
      position: relative;

}

input {
      outline: none;
      background: none;
      border: none;
      color: white;
      height: 40px;
      width: 300px;
      border-bottom: 1px solid white;
      transition-duration: 600ms;

}

input[type=submit] {
      background: rgb(60, 60, 60);
      width: 100px;
      transition-duration: 200ms;
}

input[type=submit]:hover {
      background-color: black;

}

input[type=submit]:active {
      background-color: rgb(30, 30, 30);
}

.label {
      position: absolute;
      top: 45px;
      left: 50px;
      font-size: 20px;
      cursor: auto;
      transition-duration: 600ms;
      height: 14px;
}

.input:focus,
.input:not(:placeholder-shown) {
      border-bottom: 1px solid rgb(121, 183, 208);
}

.input:focus~.label,
.input:not(:placeholder-shown).input:not(:focus)~.label {
      top: 0px;
      left: 0px;
      color: rgb(121, 183, 208);
}