{% extends 'base.html' %}

{% load static %}
{% block title %}
login
{% endblock title %}
{% block link%}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

{% endblock link%}

{% block style %}


{% endblock style %}

{% block content %}
<center><br><br><br>
      <div style="display: none;" id="message" class="alert  alert-dismissible fade show" role="alert">

      </div>
      <form method="POST">


            <div class="box">
                  <h4> Reset password</h4>
                  <div class="inputbox">
                        <input required class="input" onkeyup="validation()" placeholder=" " type="text" id="username" name="username">
                        <label class="label" id='label' for="username">Email </label>
                  </div>
                  <div class="row ">
                  </div>



                  <div class="inputbox">
                        <input class="submit" type="submit" name="btn" id="submit" value='Send OTP'>

                  </div>



            </div>
            {% csrf_token %}
      </form>

      <script src="{% static 'js/login.js' %}"></script>
      <script>
      </script>

</center>
{% endblock content %}